.projects h1{
    color: Brown;
    border-bottom: 8px solid rgb(4, 3, 3);
    border-radius: 15px;
    width: 200px;
}
.projects h1 span{
    color: black;
    font-size: 80px;
}
.btn1{
    width: 40px;
    height: 15px;
    background-color: rgb(141, 16, 16) ;
    color: black;
    padding: 5px 9px;
    margin: 4px 20px;
    border-radius: 6px;
}
.btn2{
    width: 40px;
    height: 15px;
    background-color: rgb(214, 128, 14) ;
    color: black;
    padding: 5px 11px;
    margin: 4px 20px; 
    border-radius: 6px;
}