.skills h1{
    color: Brown;
    border-bottom: 8px solid rgb(4, 3, 3);
    border-radius: 15px;
    width: 145px;
}
.skills h1 span{
    color: black;
    font-size: 80px;
}
.skills{
    width: 900px;
}
.skills .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
}
.skills .items .item{
   width: calc(33.33%);
   background: #000;
   margin: 15px;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid crimson;
   box-shadow: 5px 5px 20px 8px rgb(165, 42, 42,0.2);
}
.skills .items .item img{
    width: 70px;
}